h3{
    color: #FF0000;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24.2px;
    text-align: left;

}
ol{
    margin-top: 27px;
    margin-left: 91px;
    color: #5F5F5F;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    text-align: left;

}
.img{
    
    margin-left: 79px;
    width: 186px;
    height: 109px;
    top: 307px;
    left: 79px;
    gap: 0px;
    opacity: 0px;

}
